{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}
    <h1>Register</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.login) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.email) }}
        <button type="submit" class="btn">Update</button>
    {{ form_end(registrationForm) }}
{% endblock %}
